<section id="courses" class="w-[1156px]">
        <div class="courses-frame relative w-[1156px] h-[1253px] bg-black">
          <div
            class="courses-content flex flex-col w-[1156px] h-[997px] items-start gap-20 px-12 py-0 absolute top-32 left-0"
          >
            <div
              class="courses-heading-block flex flex-col h-[180.8px] items-start gap-6 relative self-stretch w-full"
            >
              <div class="courses-eyebrow-wrap relative self-stretch w-full h-5">
                <div
                  class="courses-eyebrow absolute top-px left-[449px] [font-family:'Inter-Bold',Helvetica] font-bold text-[#48842b] text-sm text-center tracking-[4.20px] leading-5 whitespace-nowrap"
                >
                  OUR PROGRAMS
                </div>
              </div>
              <div class="courses-title-wrap h-[136.8px] relative self-stretch w-full">
                <p
                  class="courses-title absolute top-0 left-[353px] [font-family:'Montserrat-Medium',Helvetica] font-medium text-transparent text-7xl text-center tracking-[-1.44px] leading-[68.4px]"
                >
                  <span class="text-white tracking-[-1.04px]"
                    >TRAINING<br
                  /></span>
                  <span class="text-[#48842b] tracking-[-1.04px]">COURSES</span>
                </p>
              </div>
            </div>
            <div class="courses-grid relative self-stretch w-full h-[736.25px]">
              <a href="#" class="course-card absolute top-0 left-0 w-[518px] h-[356px] bg-white">
                <div
                  class="course-bg absolute top-0 left-0 w-[518px] h-[356px] flex bg-[url('img/course-logistics-yard.jpg')] bg-cover bg-[50%_50%]"
                >
                  <div
                    class="course-overlay w-[518px] h-[356.12px] [background:linear-gradient(0deg,rgba(0,0,0,1)_0%,rgba(0,0,0,0.6)_50%,rgba(0,0,0,0.2)_100%)]"
                  ></div>
                </div>
                <div
                  class="course-content flex flex-col w-[518px] h-[356px] items-start justify-between p-12 absolute top-0 left-0"
                >
                  <div
                    class="flex w-[422px] h-16 items-start justify-between relative"
                  >
                    <div
                      class="flex flex-col w-[172.52px] h-16 items-start gap-2 relative"
                    >
                      <div class="relative self-stretch w-full h-5">
                        <div
                          class="absolute top-px left-0 [font-family:'Inter-Regular',Helvetica] font-normal text-[#ffffffcc] text-sm tracking-[2.80px] leading-5 whitespace-nowrap"
                        >
                          1-3 DAYS
                        </div>
                      </div>
                      <div
                        class="flex h-9 items-start relative self-stretch w-full"
                      >
                        <div
                          class="mr-[-1.48px] relative w-fit mt-[-1.00px] [font-family:'Inter-Bold',Helvetica] font-bold text-white text-3xl tracking-[0] leading-9 whitespace-nowrap"
                        >
                          FROM &pound;299
                        </div>
                      </div>
                    </div>
                    <div
                      class="flex w-12 h-12 items-center justify-center relative border-2 border-solid border-white"
                    >
                      <img class="h-5 w-5" src="img/arrow-right-white.svg" alt="" />
                    </div>
                  </div>
                  <div
                    class="flex flex-col w-[422px] h-[100px] items-start gap-2 relative"
                  >
                    <div class="h-[60px] relative self-stretch w-full">
                      <div
                        class="absolute top-0 left-0 [font-family:'Montserrat-Bold',Helvetica] font-bold text-white text-6xl tracking-[-1.20px] leading-[60px] whitespace-nowrap"
                      >
                        COUNTERBALANCE
                      </div>
                    </div>
                    <div class="relative self-stretch w-full h-8">
                      <div
                        class="absolute -top-px left-0 [font-family:'Inter-Regular',Helvetica] font-normal text-[#ffffffe6] text-2xl tracking-[1.20px] leading-8 whitespace-nowrap"
                      >
                        TRAINING
                      </div>
                    </div>
                  </div>
                </div>
              </a>
              <a
                href="#"
                class="course-card absolute top-0 left-[542px] w-[518px] h-[356px] bg-white"
              >
                <div
                  class="course-bg absolute top-0 left-0 w-[518px] h-[356px] flex bg-[url('img/course-training-floor.jpg')] bg-cover bg-[50%_50%]"
                >
                  <div
                    class="course-overlay w-[518px] h-[356.12px] [background:linear-gradient(0deg,rgba(0,0,0,1)_0%,rgba(0,0,0,0.6)_50%,rgba(0,0,0,0.2)_100%)]"
                  ></div>
                </div>
                <div
                  class="course-content flex flex-col w-[518px] h-[356px] items-start justify-between p-12 absolute top-0 left-0"
                >
                  <div
                    class="flex w-[422px] h-16 items-start justify-between relative"
                  >
                    <div
                      class="flex flex-col w-[173.78px] h-16 items-start gap-2 relative"
                    >
                      <div class="relative self-stretch w-full h-5">
                        <div
                          class="absolute top-px left-0 [font-family:'Inter-Regular',Helvetica] font-normal text-[#ffffffcc] text-sm tracking-[2.80px] leading-5 whitespace-nowrap"
                        >
                          2-3 DAYS
                        </div>
                      </div>
                      <div
                        class="flex h-9 items-start relative self-stretch w-full"
                      >
                        <div
                          class="mr-[-2.22px] relative w-fit mt-[-1.00px] [font-family:'Inter-Bold',Helvetica] font-bold text-white text-3xl tracking-[0] leading-9 whitespace-nowrap"
                        >
                          FROM &pound;349
                        </div>
                      </div>
                    </div>
                    <div
                      class="flex w-12 h-12 items-center justify-center relative border-2 border-solid border-white"
                    >
                      <img class="h-5 w-5" src="img/arrow-right-white.svg" alt="" />
                    </div>
                  </div>
                  <div
                    class="flex flex-col w-[422px] h-40 items-start gap-2 relative"
                  >
                    <div class="relative self-stretch w-full h-[120px]">
                      <div
                        class="absolute top-0 left-0 w-[422px] [font-family:'Montserrat-Bold',Helvetica] font-bold text-white text-6xl tracking-[-1.20px] leading-[60px]"
                      >
                        REACH TRUCK
                      </div>
                    </div>
                    <div class="relative self-stretch w-full h-8">
                      <div
                        class="absolute -top-px left-0 [font-family:'Inter-Regular',Helvetica] font-normal text-[#ffffffe6] text-2xl tracking-[1.20px] leading-8 whitespace-nowrap"
                      >
                        TRAINING
                      </div>
                    </div>
                  </div>
                </div>
              </a>
              <a
                href="#"
                class="course-card absolute top-[380px] left-0 w-[518px] h-[356px] bg-white"
              >
                <div
                  class="course-bg absolute top-0 left-0 w-[518px] h-[356px] flex bg-[url('img/course-training-floor.jpg')] bg-cover bg-[50%_50%]"
                >
                  <div
                    class="course-overlay w-[518px] h-[356.12px] [background:linear-gradient(0deg,rgba(0,0,0,1)_0%,rgba(0,0,0,0.6)_50%,rgba(0,0,0,0.2)_100%)]"
                  ></div>
                </div>
                <div
                  class="course-content flex flex-col w-[518px] h-[356px] items-start justify-between p-12 absolute top-0 left-0"
                >
                  <div
                    class="flex w-[422px] h-16 items-start justify-between relative"
                  >
                    <div
                      class="flex flex-col w-[166.56px] h-16 items-start gap-2 relative"
                    >
                      <div class="relative self-stretch w-full h-5">
                        <div
                          class="absolute top-px left-0 [font-family:'Inter-Regular',Helvetica] font-normal text-[#ffffffcc] text-sm tracking-[2.80px] leading-5 whitespace-nowrap"
                        >
                          1 DAY
                        </div>
                      </div>
                      <div
                        class="flex h-9 items-start relative self-stretch w-full"
                      >
                        <div
                          class="mr-[-3.44px] relative w-fit mt-[-1.00px] [font-family:'Inter-Bold',Helvetica] font-bold text-white text-3xl tracking-[0] leading-9 whitespace-nowrap"
                        >
                          FROM &pound;199
                        </div>
                      </div>
                    </div>
                    <div
                      class="flex w-12 h-12 items-center justify-center relative border-2 border-solid border-white"
                    >
                      <img class="h-5 w-5" src="img/arrow-right-white.svg" alt="" />
                    </div>
                  </div>
                  <div
                    class="flex flex-col w-[422px] h-[100px] items-start gap-2 relative"
                  >
                    <div class="h-[60px] relative self-stretch w-full">
                      <div
                        class="absolute top-0 left-0 [font-family:'Montserrat-Bold',Helvetica] font-bold text-white text-6xl tracking-[-1.20px] leading-[60px] whitespace-nowrap"
                      >
                        REFRESHER
                      </div>
                    </div>
                    <div class="relative self-stretch w-full h-8">
                      <div
                        class="absolute -top-px left-0 [font-family:'Inter-Regular',Helvetica] font-normal text-[#ffffffe6] text-2xl tracking-[1.20px] leading-8 whitespace-nowrap"
                      >
                        COURSES
                      </div>
                    </div>
                  </div>
                </div>
              </a>
              <a
                href="#"
                class="course-card absolute top-[380px] left-[542px] w-[518px] h-[356px] bg-white"
              >
                <div
                  class="course-bg absolute top-0 left-0 w-[518px] h-[356px] flex bg-[url('img/course-industrial.jpg')] bg-cover bg-[50%_50%]"
                >
                  <div
                    class="course-overlay w-[518px] h-[356.12px] [background:linear-gradient(0deg,rgba(0,0,0,1)_0%,rgba(0,0,0,0.6)_50%,rgba(0,0,0,0.2)_100%)]"
                  ></div>
                </div>
                <div
                  class="course-content flex flex-col w-[518px] h-[356px] items-start justify-between p-12 absolute top-0 left-0"
                >
                  <div
                    class="flex w-[422px] h-16 items-start justify-between relative"
                  >
                    <div
                      class="flex flex-col w-[246.49px] h-16 items-start gap-2 relative"
                    >
                      <div class="relative self-stretch w-full h-5">
                        <div
                          class="absolute top-px left-0 [font-family:'Inter-Regular',Helvetica] font-normal text-[#ffffffcc] text-sm tracking-[2.80px] leading-5 whitespace-nowrap"
                        >
                          FLEXIBLE
                        </div>
                      </div>
                      <div
                        class="flex h-9 items-start relative self-stretch w-full"
                      >
                        <div
                          class="relative w-fit mt-[-1.00px] mr-[-1.51px] [font-family:'Inter-Bold',Helvetica] font-bold text-white text-3xl tracking-[0] leading-9 whitespace-nowrap"
                        >
                          CUSTOM QUOTE
                        </div>
                      </div>
                    </div>
                    <div
                      class="flex w-12 h-12 items-center justify-center relative border-2 border-solid border-white"
                    >
                      <img class="h-5 w-5" src="img/arrow-right-white.svg" alt="" />
                    </div>
                  </div>
                  <div
                    class="flex flex-col w-[422px] h-[100px] items-start gap-2 relative"
                  >
                    <div class="h-[60px] relative self-stretch w-full">
                      <div
                        class="absolute top-0 left-0 [font-family:'Montserrat-Bold',Helvetica] font-bold text-white text-6xl tracking-[-1.20px] leading-[60px] whitespace-nowrap"
                      >
                        ON-SITE
                      </div>
                    </div>
                    <div class="relative self-stretch w-full h-8">
                      <div
                        class="absolute -top-px left-0 [font-family:'Inter-Regular',Helvetica] font-normal text-[#ffffffe6] text-2xl tracking-[1.20px] leading-8 whitespace-nowrap"
                      >
                        BUSINESS TRAINING
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div
            class="courses-decor absolute top-20 left-[860px] w-64 h-64 border border-solid border-[#48842b33] rotate-45"
          ></div>
        </div>
      </section>
