<section id="header" class="relative w-[1156px]">
        <div
          class="header-shell h-[86px] pt-0 pb-px px-0 relative flex flex-col w-[1156px] items-center justify-center bg-[#fffffff2]"
        >
          <div
            class="header-inner h-[85px] pt-5 pb-px px-12 relative flex flex-col w-[1156px] items-center justify-center"
          >
            <div
              class="header-layout relative self-stretch w-full h-[100px] mt-[-18.00px] mb-[-18.00px]"
            >
              <div
                class="header-nav absolute top-[30px] left-[292px] w-[540px] h-5 flex gap-8"
              >
                <div class="header-menu-item w-[45.39px] h-5 flex flex-col gap-[1.5px]">
                  <div
                    class="w-[45px] h-5 mt-[0.5px] [font-family:'Inter-SemiBold',Helvetica] font-semibold text-black text-sm tracking-[0.70px] leading-5 whitespace-nowrap"
                  >
                    HOME
                  </div>
                  <div class="header-menu-line h-0.5 bg-[#48842b]"></div>
                </div>
                <div class="header-menu-item w-[72.1px] h-5 flex flex-col gap-[1.5px]">
                  <div
                    class="w-[72px] h-5 mt-[0.5px] [font-family:'Inter-SemiBold',Helvetica] font-semibold text-black text-sm tracking-[0.70px] leading-5 whitespace-nowrap"
                  >
                    COURSES
                  </div>
                  <div class="header-menu-line h-0.5 bg-[#48842b]"></div>
                </div>
                <div class="header-menu-item w-[132.24px] h-5 flex flex-col gap-[1.5px]">
                  <div
                    class="w-[132px] h-5 mt-[0.5px] [font-family:'Inter-SemiBold',Helvetica] font-semibold text-black text-sm tracking-[0.70px] leading-5 whitespace-nowrap"
                  >
                    ACCREDITATIONS
                  </div>
                  <div class="header-menu-line h-0.5 bg-[#48842b]"></div>
                </div>
                <div class="header-menu-item w-[109.44px] h-5 flex flex-col gap-[1.5px]">
                  <div
                    class="w-[109px] h-5 mt-[0.5px] [font-family:'Inter-SemiBold',Helvetica] font-semibold text-black text-sm tracking-[0.70px] leading-5 whitespace-nowrap"
                  >
                    RECRUITMENT
                  </div>
                  <div class="header-menu-line h-0.5 bg-[#48842b]"></div>
                </div>
                <div class="header-menu-item w-[53.23px] h-5 flex flex-col gap-[1.5px]">
                  <div
                    class="w-[53px] h-5 mt-[0.5px] [font-family:'Inter-SemiBold',Helvetica] font-semibold text-black text-sm tracking-[0.70px] leading-5 whitespace-nowrap"
                  >
                    ABOUT
                  </div>
                  <div class="header-menu-line h-0.5 bg-[#48842b]"></div>
                </div>
              </div>
              <div
                class="header-cta flex w-[161px] h-[52px] items-center absolute top-3.5 left-[948px]"
              >
                <button
                  class="all-[unset] box-border relative flex-1 grow h-[52px] bg-[#48842b]"
                >
                  <div
                    class="absolute top-[13px] left-[33px] [font-family:'Inter-SemiBold',Helvetica] font-semibold text-white text-base text-center tracking-[0.80px] leading-6 whitespace-nowrap"
                  >
                    BOOK NOW
                  </div>
                </button>
              </div>
              <button
                class="header-menu-toggle all-[unset] box-border"
                type="button"
                aria-label="Toggle menu"
                aria-expanded="false"
              >
                <img class="h-9 w-9" src="img/menu-icon.svg" alt="" />
              </button>
              <img
                class="header-logo absolute top-[-6px] left-0 w-[180px] h-[92px] object-contain"
                src="img/image-UK-industrial-training-services.png"
              />
            </div>
          </div>
        </div>
        <div class="absolute bottom-0 left-0 z-20 h-px w-full bg-[#E5E7EB]"></div>
      </section>
