<section id="testimonials" class="w-[1156px]">
        <div class="testimonials-frame relative w-[1156px] h-[1002px] bg-black">
          <div
            class="testimonials-content flex flex-col w-[1156px] h-[746px] items-start gap-20 px-12 py-0 absolute top-32 left-0"
          >
            <div
              class="testimonials-heading-block flex flex-col h-[249.2px] items-start gap-6 relative self-stretch w-full"
            >
              <div class="testimonials-eyebrow-wrap relative self-stretch w-full h-5">
                <div
                  class="testimonials-eyebrow absolute top-px left-0 [font-family:'Inter-Bold',Helvetica] font-bold text-[#48842b] text-sm tracking-[4.20px] leading-5 whitespace-nowrap"
                >
                  SUCCESS STORIES
                </div>
              </div>
              <div class="testimonials-top relative self-stretch w-full h-[205.2px]">
                <div class="testimonials-title-wrap absolute top-0 left-0 w-[506px] h-[205px] flex">
                  <p
                    class="testimonials-title w-[410px] h-[231px] [font-family:'Montserrat-Medium',Helvetica] font-medium text-transparent text-7xl tracking-[-1.44px] leading-[77px]"
                  >
                    <span class="text-white tracking-[-1.04px]"
                      >WHAT OUR<br
                    /></span>
                    <span class="text-[#48842b] tracking-[-1.04px]"
                      >STUDENTS<br
                    /></span>
                    <span class="text-white tracking-[-1.04px]">SAY</span>
                  </p>
                </div>
                <div
                  class="testimonials-stats flex w-[506px] h-20 items-center gap-8 absolute top-[125px] left-[554px]"
                >
                  <div
                    class="flex flex-col w-[128.84px] h-20 items-start relative"
                  >
                    <div class="relative self-stretch w-full h-[60px]">
                      <div
                        class="absolute top-0 left-0 [font-family:'Inter-Bold',Helvetica] font-bold text-[#48842b] text-6xl tracking-[0] leading-[60px] whitespace-nowrap"
                      >
                        4.9
                      </div>
                    </div>
                    <div class="relative self-stretch w-full h-5">
                      <div
                        class="absolute top-px left-0 [font-family:'Inter-Regular',Helvetica] font-normal text-[#99a1af] text-sm tracking-[0.70px] leading-5 whitespace-nowrap"
                      >
                        AVERAGE RATING
                      </div>
                    </div>
                  </div>
                  <div class="relative w-px h-20 bg-[#364153]"></div>
                  <div
                    class="flex flex-col w-[199.39px] h-20 items-start relative"
                  >
                    <div class="relative self-stretch w-full h-[60px]">
                      <div
                        class="absolute top-0 left-0 [font-family:'Inter-Bold',Helvetica] font-bold text-[#48842b] text-6xl tracking-[0] leading-[60px] whitespace-nowrap"
                      >
                        5000+
                      </div>
                    </div>
                    <div class="relative self-stretch w-full h-5">
                      <div
                        class="absolute top-px left-0 [font-family:'Inter-Regular',Helvetica] font-normal text-[#99a1af] text-sm tracking-[0.70px] leading-5 whitespace-nowrap"
                      >
                        HAPPY STUDENTS
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="testimonials-grid relative self-stretch w-full h-[416.5px]">
              <div
                class="testimonial-card absolute top-0 left-0 w-[337px] h-[416px] bg-[#ffffff0d] border border-solid border-[#ffffff1a]"
              >
                <img
                  class="absolute top-[43px] left-[33px] h-6 w-7"
                  src="img/quote-green.svg"
                  alt=""
                />
                <div
                  class="absolute top-[153px] left-[33px] w-[271px] h-[98px] flex"
                >
                  <p
                    class="-mt-px w-[272px] h-[98px] [font-family:'Inter-Regular',Helvetica] font-normal text-white text-xl tracking-[0] leading-[32.5px]"
                  >
                    From zero experience to certified in 2 days. Outstanding
                    instructors.
                  </p>
                </div>
                <div
                  class="flex flex-col w-[271px] h-[101px] items-start gap-1 pt-[25px] pb-0 px-0 absolute top-[282px] left-[33px] border-t [border-top-style:solid] border-[#ffffff33]"
                >
                  <div class="relative self-stretch w-full h-7">
                    <div
                      class="top-0 [font-family:'Inter-Bold',Helvetica] font-bold text-white text-lg tracking-[0.90px] leading-7 absolute left-0 whitespace-nowrap"
                    >
                      JAMES MITCHELL
                    </div>
                  </div>
                  <div class="relative self-stretch w-full h-5">
                    <div
                      class="absolute top-px left-0 [font-family:'Inter-Regular',Helvetica] font-normal text-[#99a1af] text-sm tracking-[0.35px] leading-5 whitespace-nowrap"
                    >
                      WAREHOUSE OPERATOR
                    </div>
                  </div>
                  <div class="relative self-stretch w-full h-5">
                    <div
                      class="absolute top-px left-0 [font-family:'Inter-Regular',Helvetica] font-normal text-[#48842b] text-sm tracking-[0.35px] leading-5 whitespace-nowrap"
                    >
                      MANCHESTER
                    </div>
                  </div>
                </div>
                <div
                  class="absolute top-px left-px w-16 h-16 border-t-4 [border-top-style:solid] border-l-4 [border-left-style:solid] border-[#48842b]"
                ></div>
              </div>
              <div
                class="testimonial-card absolute top-0 left-[361px] w-[337px] h-[416px] bg-[#ffffff0d] border border-solid border-[#ffffff1a]"
              >
                <img
                  class="absolute top-[43px] left-[33px] h-6 w-7"
                  src="img/quote-green.svg"
                  alt=""
                />
                <div
                  class="absolute top-[153px] left-[33px] w-[271px] h-[98px] flex"
                >
                  <p
                    class="-mt-px w-[272px] h-[98px] [font-family:'Inter-Regular',Helvetica] font-normal text-white text-xl tracking-[0] leading-[32.5px]"
                  >
                    Trained 20+ staff. Everyone passed first time. Exceptional
                    service.
                  </p>
                </div>
                <div
                  class="flex flex-col w-[271px] h-[101px] items-start gap-1 pt-[25px] pb-0 px-0 absolute top-[282px] left-[33px] border-t [border-top-style:solid] border-[#ffffff33]"
                >
                  <div class="relative self-stretch w-full h-7">
                    <div
                      class="top-0 [font-family:'Inter-Bold',Helvetica] font-bold text-white text-lg tracking-[0.90px] leading-7 absolute left-0 whitespace-nowrap"
                    >
                      SARAH THOMPSON
                    </div>
                  </div>
                  <div class="relative self-stretch w-full h-5">
                    <div
                      class="absolute top-px left-0 [font-family:'Inter-Regular',Helvetica] font-normal text-[#99a1af] text-sm tracking-[0.35px] leading-5 whitespace-nowrap"
                    >
                      LOGISTICS MANAGER
                    </div>
                  </div>
                  <div class="relative self-stretch w-full h-5">
                    <div
                      class="absolute top-px left-0 [font-family:'Inter-Regular',Helvetica] font-normal text-[#48842b] text-sm tracking-[0.35px] leading-5 whitespace-nowrap"
                    >
                      BIRMINGHAM
                    </div>
                  </div>
                </div>
                <div
                  class="absolute top-px left-px w-16 h-16 border-t-4 [border-top-style:solid] border-l-4 [border-left-style:solid] border-[#48842b]"
                ></div>
              </div>
              <div
                class="testimonial-card absolute top-0 left-[723px] w-[337px] h-[416px] bg-[#ffffff0d] border border-solid border-[#ffffff1a]"
              >
                <img
                  class="absolute top-[43px] left-[33px] h-6 w-7"
                  src="img/quote-green.svg"
                  alt=""
                />
                <div
                  class="absolute top-[153px] left-[33px] w-[271px] h-[98px] flex"
                >
                  <p
                    class="-mt-px w-[272px] h-[98px] [font-family:'Inter-Regular',Helvetica] font-normal text-white text-xl tracking-[0] leading-[32.5px]"
                  >
                    Professional, efficient, great value. Same-week availability
                    sealed it.
                  </p>
                </div>
                <div
                  class="flex flex-col w-[271px] h-[101px] items-start gap-1 pt-[25px] pb-0 px-0 absolute top-[282px] left-[33px] border-t [border-top-style:solid] border-[#ffffff33]"
                >
                  <div class="relative self-stretch w-full h-7">
                    <div
                      class="top-0 [font-family:'Inter-Bold',Helvetica] font-bold text-white text-lg tracking-[0.90px] leading-7 absolute left-0 whitespace-nowrap"
                    >
                      DAVID CHEN
                    </div>
                  </div>
                  <div class="relative self-stretch w-full h-5">
                    <div
                      class="absolute top-px left-0 [font-family:'Inter-Regular',Helvetica] font-normal text-[#99a1af] text-sm tracking-[0.35px] leading-5 whitespace-nowrap"
                    >
                      CERTIFIED OPERATOR
                    </div>
                  </div>
                  <div class="relative self-stretch w-full h-5">
                    <div
                      class="top-px [font-family:'Inter-Regular',Helvetica] font-normal text-[#48842b] text-sm tracking-[0.35px] leading-5 absolute left-0 whitespace-nowrap"
                    >
                      LONDON
                    </div>
                  </div>
                </div>
                <div
                  class="absolute top-px left-px w-16 h-16 border-t-4 [border-top-style:solid] border-l-4 [border-left-style:solid] border-[#48842b]"
                ></div>
              </div>
            </div>
          </div>
          <div
            class="testimonials-decor absolute top-0 left-[578px] w-[578px] h-[1002px] [background:linear-gradient(63deg,rgba(72,132,43,1)_25%,rgba(0,0,0,0)_25%),linear-gradient(297deg,rgba(72,132,43,1)_25%,rgba(0,0,0,0)_25%)] opacity-5"
          ></div>
        </div>
      </section>
