<section id="whychooseus" class="w-[1156px]">
        <div class="why-frame relative w-[1156px] h-[910px] bg-[#48842b] overflow-hidden">
          <div
            class="why-top-slant absolute -top-11 -left-8 w-[1220px] h-32 bg-white rotate-[-2.00deg]"
          ></div>
          <div class="why-content absolute top-32 left-12 w-[1060px] h-[696px] flex gap-20">
            <div class="why-left mt-[83.4px] w-[490px] h-[529.2px] flex flex-col">
              <div class="why-eyebrow-wrap w-[490px] flex">
                <div
                  class="why-eyebrow mt-[0.5px] w-[226px] h-5 [font-family:'Inter-Bold',Helvetica] font-bold text-[#ffffffcc] text-sm tracking-[4.20px] leading-5 whitespace-nowrap"
                >
                  EXCELLENCE &amp; TRUST
                </div>
              </div>
              <div class="why-heading-wrap w-[490px] h-[205.2px] mt-6 flex">
                <p
                  class="why-heading w-[493px] h-[206px] [font-family:'Montserrat-Medium',Helvetica] font-medium text-transparent text-7xl tracking-[-1.44px] leading-[68.4px]"
                >
                  <span class="text-white tracking-[-1.04px]"
                    >15+ YEARS<br />OF INDUSTRY<br
                  /></span>
                  <span class="text-black tracking-[-1.04px]">LEADERSHIP</span>
                </p>
              </div>
              <div class="why-stats h-[184px] relative mt-12">
                <div
                  class="why-stat flex flex-col w-[229px] h-[76px] items-start gap-2 pl-7 pr-0 py-0 absolute top-0 left-0 border-l-4 [border-left-style:solid] border-black"
                >
                  <div class="relative self-stretch w-full h-12">
                    <div
                      class="absolute top-0 left-0 [font-family:'Inter-Bold',Helvetica] font-bold text-white text-5xl tracking-[0] leading-[48px] whitespace-nowrap"
                    >
                      5000+
                    </div>
                  </div>
                  <div class="relative self-stretch w-full h-5">
                    <div
                      class="absolute top-px left-0 [font-family:'Inter-Regular',Helvetica] font-normal text-[#ffffffe6] text-sm tracking-[0.70px] leading-5 whitespace-nowrap"
                    >
                      CERTIFIED OPERATORS
                    </div>
                  </div>
                </div>
                <div
                  class="why-stat flex flex-col w-[229px] h-[76px] items-start gap-2 pl-7 pr-0 py-0 absolute top-0 left-[261px] border-l-4 [border-left-style:solid] border-black"
                >
                  <div class="relative self-stretch w-full h-12">
                    <div
                      class="absolute top-0 left-0 [font-family:'Inter-Bold',Helvetica] font-bold text-white text-5xl tracking-[0] leading-[48px] whitespace-nowrap"
                    >
                      98%
                    </div>
                  </div>
                  <div class="relative self-stretch w-full h-5">
                    <div
                      class="absolute top-px left-0 [font-family:'Inter-Regular',Helvetica] font-normal text-[#ffffffe6] text-sm tracking-[0.70px] leading-5 whitespace-nowrap"
                    >
                      FIRST-TIME PASS RATE
                    </div>
                  </div>
                </div>
                <div
                  class="why-stat flex flex-col w-[229px] h-[76px] items-start gap-2 pl-7 pr-0 py-0 absolute top-[108px] left-0 border-l-4 [border-left-style:solid] border-black"
                >
                  <div class="relative self-stretch w-full h-12">
                    <div
                      class="absolute top-0 left-0 [font-family:'Inter-Bold',Helvetica] font-bold text-white text-5xl tracking-[0] leading-[48px] whitespace-nowrap"
                    >
                      100%
                    </div>
                  </div>
                  <div class="relative self-stretch w-full h-5">
                    <div
                      class="absolute top-px left-0 [font-family:'Inter-Regular',Helvetica] font-normal text-[#ffffffe6] text-sm tracking-[0.70px] leading-5 whitespace-nowrap"
                    >
                      ACCREDITED TRAINING
                    </div>
                  </div>
                </div>
                <div
                  class="why-stat flex flex-col w-[229px] h-[76px] items-start gap-2 pl-7 pr-0 py-0 absolute top-[108px] left-[261px] border-l-4 [border-left-style:solid] border-black"
                >
                  <div class="relative self-stretch w-full h-12">
                    <div
                      class="absolute top-0 left-0 [font-family:'Inter-Bold',Helvetica] font-bold text-white text-5xl tracking-[0] leading-[48px] whitespace-nowrap"
                    >
                      24/7
                    </div>
                  </div>
                  <div class="relative self-stretch w-full h-5">
                    <div
                      class="absolute top-px left-0 [font-family:'Inter-Regular',Helvetica] font-normal text-[#ffffffe6] text-sm tracking-[0.70px] leading-5 whitespace-nowrap"
                    >
                      SUPPORT AVAILABLE
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="why-list flex w-[490px] h-[696px] relative flex-col items-start gap-6"
            >
              <div
                class="flex flex-col h-[104px] items-start pl-7 pr-6 pt-6 pb-0 relative self-stretch w-full bg-[#00000033] border-l-4 [border-left-style:solid] border-white"
              >
                <div
                  class="flex h-14 items-center justify-between relative self-stretch w-full"
                >
                  <div class="relative w-[407.66px] h-14">
                    <div
                      class="absolute top-0 left-0 w-[408px] [font-family:'Inter-Regular',Helvetica] font-normal text-white text-xl tracking-[0.50px] leading-7"
                    >
                      EXPERIENCED ACCREDITED INSTRUCTORS
                    </div>
                  </div>
                  <div
                    class="flex w-[30.34px] h-8 items-center justify-center pl-[5.19px] pr-[5.2px] py-0 relative border-2 border-solid border-white"
                  >
                    <img class="h-4 w-4" src="img/check-white.svg" alt="" />
                  </div>
                </div>
              </div>
              <div
                class="flex flex-col h-20 items-start pl-7 pr-6 pt-6 pb-0 relative self-stretch w-full bg-[#00000033] border-l-4 [border-left-style:solid] border-white"
              >
                <div
                  class="flex h-8 items-center justify-between relative self-stretch w-full"
                >
                  <div class="relative w-[303.7px] h-7">
                    <div
                      class="absolute top-0 left-0 [font-family:'Inter-Regular',Helvetica] font-normal text-white text-xl tracking-[0.50px] leading-7 whitespace-nowrap"
                    >
                      HIGH FIRST-TIME PASS RATES
                    </div>
                  </div>
                  <div
                    class="flex w-8 h-8 items-center justify-center px-[6.02px] py-0 relative border-2 border-solid border-white"
                  >
                    <img class="h-4 w-4" src="img/check-white.svg" alt="" />
                  </div>
                </div>
              </div>
              <div
                class="flex flex-col h-[104px] items-start pl-7 pr-6 pt-6 pb-0 relative self-stretch w-full bg-[#00000033] border-l-4 [border-left-style:solid] border-white"
              >
                <div
                  class="flex h-14 items-center justify-between relative self-stretch w-full"
                >
                  <div class="relative w-[406.27px] h-14">
                    <div
                      class="absolute top-0 left-0 w-[407px] [font-family:'Inter-Regular',Helvetica] font-normal text-white text-xl tracking-[0.50px] leading-7"
                    >
                      FLEXIBLE DATES INCLUDING WEEKENDS
                    </div>
                  </div>
                  <div
                    class="flex w-[31.73px] h-8 items-center justify-center pl-[5.88px] pr-[5.89px] py-0 relative border-2 border-solid border-white"
                  >
                    <img class="h-4 w-4" src="img/check-white.svg" alt="" />
                  </div>
                </div>
              </div>
              <div
                class="flex flex-col h-[104px] items-start pl-7 pr-6 pt-6 pb-0 relative self-stretch w-full bg-[#00000033] border-l-4 [border-left-style:solid] border-white"
              >
                <div
                  class="flex h-14 items-center justify-between relative self-stretch w-full"
                >
                  <div class="relative w-[408.45px] h-14">
                    <p
                      class="absolute top-0 left-0 w-[409px] [font-family:'Inter-Regular',Helvetica] font-normal text-white text-xl tracking-[0.50px] leading-7"
                    >
                      TRANSPARENT PRICING, NO HIDDEN COSTS
                    </p>
                  </div>
                  <div
                    class="flex w-[29.55px] h-8 items-center justify-center pl-[4.79px] pr-[4.8px] py-0 relative border-2 border-solid border-white"
                  >
                    <img class="h-4 w-4" src="img/check-white.svg" alt="" />
                  </div>
                </div>
              </div>
              <div
                class="flex flex-col h-[104px] items-start pl-7 pr-6 pt-6 pb-0 relative self-stretch w-full bg-[#00000033] border-l-4 [border-left-style:solid] border-white"
              >
                <div
                  class="flex h-14 items-center justify-between relative self-stretch w-full"
                >
                  <div class="relative w-[406.69px] h-14">
                    <div
                      class="absolute top-0 left-0 w-[407px] [font-family:'Inter-Regular',Helvetica] font-normal text-white text-xl tracking-[0.50px] leading-7"
                    >
                      ON-SITE BUSINESS TRAINING AVAILABLE
                    </div>
                  </div>
                  <div
                    class="flex w-[31.31px] h-8 items-center justify-center pl-[5.67px] pr-[5.68px] py-0 relative border-2 border-solid border-white"
                  >
                    <img class="h-4 w-4" src="img/check-white.svg" alt="" />
                  </div>
                </div>
              </div>
              <div
                class="flex flex-col h-20 items-start pl-7 pr-6 pt-6 pb-0 relative self-stretch w-full bg-[#00000033] border-l-4 [border-left-style:solid] border-white"
              >
                <div
                  class="flex h-8 items-center justify-between relative self-stretch w-full"
                >
                  <div class="relative w-[364.91px] h-7">
                    <p
                      class="absolute top-0 left-0 [font-family:'Inter-Regular',Helvetica] font-normal text-white text-xl tracking-[0.50px] leading-7 whitespace-nowrap"
                    >
                      COVERAGE ACROSS THE ENTIRE UK
                    </p>
                  </div>
                  <div
                    class="flex w-8 h-8 items-center justify-center px-[6.02px] py-0 relative border-2 border-solid border-white"
                  >
                    <img class="h-4 w-4" src="img/check-white.svg" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="why-decor absolute top-[624px] left-10 w-72 h-72 border-4 border-solid border-[#ffffff33] rotate-[12.00deg]"
          ></div>
          <div
            class="why-bottom-slant absolute top-[868px] left-0 w-[1157px] h-32 bg-white rotate-[-2.00deg]"
          ></div>
        </div>
      </section>
